.img_1 img {
    width: 225px;
    height: 225px;
}

.img_1 {
    width: 225px;
    height: 225px;
    top: 0;
    float: left;
}

.img_2 {
    width: 225px;
    height: 225px;
    top: 0;
    margin-left: auto;
    margin-right: auto;
}

.img_3 {
    position:absolute;
    width: 225px;
    height: 225px;
    top: 0;
    right: 0;
    float: right;
}

@media screen and (min-widht: 768px) {
    .img_1 img {
        width: 225px;
        height: 225px;
    }
    
    .img_1 {
        width: 50%;
        top: 0;
        float: left;
    }
    
    .img_2 {
        width: 50%;
        top: 0;
        right: 0;
        float: right;
       
    }
    
    .img_3 {
        position:relative;
        width: 50%;
        top: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-widht: 768px) {
    .img_1 img {
        width: 225px;
        height: 225px;
    }
    
    .img_1 {
        width: 100%
    }
    
    .img_2 {
        width: 100%;
       
    }
    
    .img_3 {
        width: 100%;
    }
}